body {
  margin: 0;
}

.content {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 50rem;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  /*background-color: rgba(0, 0, 0, 0.055);*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

.weather-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.weather-icon {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  /*	background: linear-gradient(hsl(223, 39%, 88%), hsl(197, 84%, 45%)); */
  /*box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);*/
  align-items: center;
  display: flex;
  position: relative;
  cursor: default;
  border-right: 2px solid rgba(173, 173, 173, 0.5);
}

.temperature {
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  bottom: auto 7vw;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.description {
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  bottom: auto 4.5vw;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 75px;
}

.location {
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  bottom: auto;
  margin-top: 100px;
}

.description,
.temperature,
.location {
  position: absolute; /* idc lol */
  cursor: default;
}
