body {
  margin: 0;
}

.weather-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.weather-icon {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  background: linear-gradient(hsl(222, 55%, 88%), hsl(197, 84%, 45%));
}

.temperature {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 20px;
  margin-bottom: 10px;
}

.location {
  font-size: 20px;
}
